# === SEGURIDAD (CRÍTICO) ===
.env
.env.local
.env.dev
.env.prod
*.env


# === MAVEN / JAVA ===
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.war
*.ear
*.jar

# === LOGS ===
*.log
logs/

# === SISTEMA OPERATIVO ===
.DS_Store
Thumbs.db

# === IDEs ===
.idea/
*.iws
*.iml
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache